body {
	background-color: #BBBBFF;
}
a {
	color: inherit;
	text-decoration: none;
}
h2 {
	margin: 0px;
}
input {
	border: 1px solid black;
}
div.slider {
	text-align: center;
	padding: 0px 0px 5px 0px;
	margin: 4px 0px;
	line-height: 8px;
	cursor: ns-resize;
	background-color: #BBC;
}
div.main {
	float: right;
	width: 85%;
	padding-right: 1%;
}
p.chat {
	margin: 0px;
	height: 400px;
	overflow: auto;
	border: 1px solid black;
	background-color: #FAF5E0;
}
p.chat span.warnEntry,
p.chat span.successEntry,
p.chat span.personalEntry,
p.chat span.roomEntry {
	border: 1px dashed black;
	background-color: white;
	display: block;
	margin: 2px;
	padding: 2px;
}
p.chat span.warnEntry {
	border-color: red;
}
p.chat span.successEntry {
	border-color: blue;
}
p.chat span.successEntry span.info {
	font-weight: bold;
}
p.chat span.warnEntry span.info {
	font-weight: bold;
	color: red;
}
p.chat span.sender {
	font-weight: bold;
}
ul.roomlist span.room,
p.chat span.room {
	font-weight: bold;
	color: blue;
}
p.chat span.sender:before,
p.chat span.room:before {
	content: " (";
}
p.chat span.sender:after,
p.chat span.room:after {
	content: ") ";
}
div.menu {
	width: 13%;
}
div.menu h2 {
	background-color: #999;
	padding: 4px;
	font-size: 8pt;
}
div.box {
	border: 1px solid black;
	margin: 2px;
	background-color: #CCCCFF;
}
div.box div.content {
	overflow: auto;
	height: 180px;
}
div.box div.content ul {
	margin: 4px 0;
}
div.box a.button {
	float: right;
}
div.console {
	border: 1px solid black;
	padding: 4px;
	background-color: #CCCCFF;
	margin: 0 2%;
}
div.console input[type=text] {
	width: 80%;
}
.console span.recipient {
	width: 10%;
	float: left;
	display: block;
}
.console span.recipient span.room {
	color: blue;
}